@font-face {  
    font-family: 'Gamero';
    src: url('../fonts/Gamero.ttf') format('truetype'); 
}
*{
	margin: 0;
	padding: 0;
	border: none;
}
body{
	background-color: #010101;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
}
.container{
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.first{
	height: 100vh;
	background-image: url(../img/first.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 70px;
}
.first .container{
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%);
	backdrop-filter: blur(15px);
	border-radius: 16px;
	height: 72px;
	list-style-type: none;
}
.first a{
	padding: 0 30px;
	border-right: 1px solid #ffffff;
}
.first a:last-child{
	border: none;
	display: flex;
	align-items: center;
}
.first a img{
	margin-right: 14px;
}
section:not(.first){
	padding: 90px 0;
}
h2, h3{
	text-transform: uppercase;
	font-style: italic;
	font-weight: lighter;
	font-family: "Nunito", sans-serif;
	font-size: 36px;
}
h3{
	font-size: 24px;
}
.withtower h2 span, .welcome h2 span{
	font-size: 72px;
	font-style: normal;
	font-family: "Gamero", sans-serif;
}
.description{
	font-size: 24px;
	margin-top: 20px;
}
.welcome h2{
	text-align: center;
}
.welcome .description{
	margin: 0 auto;
	text-align: center;
	width: 640px;
}
.window{
	background: linear-gradient(104.3deg, rgba(163, 163, 163, 0) 15.4%, rgba(254, 255, 249, 0.2) 100.92%);
	backdrop-filter: blur(94px);
	border: 1px solid #7F7F7F;
	margin-top: 90px;
	text-align: center;
	border-radius: 17px;
	max-width: 100%;
}
.welcome .window{
	padding: 60px 0;
}
.airdrop::after{
	content: 'Airdrop';
	color: #B5E200;
	text-transform: uppercase;
	font-family: 'Gamero';
	position: absolute;
	font-size: 36px;
	line-height: 36px;
	top: -18px;
	left: 72px;
	background-color: #010101;
	padding: 0 18px;
}
.welcome .window p{
	margin-top: 12px;
}
a{
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
.btn{
	color: #ffffff;
	background: linear-gradient(130.39deg, rgba(186, 187, 180, 0.63) -6.69%, #BABBB4 -6.68%, rgba(20, 20, 20, 0.04) 53.64%, #E2DAE2 102.69%);
	backdrop-filter: blur(11px);
	border-radius: 7px;
	text-align: center;
	padding: 18px 70px;
	display: inline-block;
	margin-top: 40px;
}
.withtower, .withtower.right{
	position: relative;
}
.withtower .window{
	padding: 30px 20px;
	width: 640px;
}
.withtower .window ul{
	padding-top: 30px;
	margin-left: 30px;
	text-align-last: left;
}
.withtower.right h2, .withtower.right .description{
	text-align: right;
}
.withtower::after{
	content: '';
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: inset 0px -240px 200px #000000;
}
.withtower.right::after{
	left: 0;
	right: auto;
}
.withtower::after{
	background-image: url("../img/tower.png");
}
.withtower.launch::after{
	background-image: url("../img/tower2.png");	
}
.withtower.advantages::after{
	background-image: url("../img/tower3.png");	
}
.withtower.estate::after{
	background-image: url("../img/tower4.png");
}
.withtower.school::after{
	background-image: url("../img/tower5.png");
}
.withtower ol li{
	list-style-type: none;
	position: relative;
	padding-left: 36px;
	display: inline-block;
	text-align: right;
}
.withtower.school ol li{
	text-align: left;
}
.withtower ol li::before{
	font-size: 72px;
	font-family: "Gamero";
	position: absolute;
	right: 0;
	top: -80px;
	text-align: right;
	height: 72px;
	width: 80px;
	background: linear-gradient(24.64deg, #7F7F7F -39.02%, rgba(0, 0, 0, 0) 214.87%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.withtower ol li:nth-child(1n)::before{
	content: "01";
}
.withtower ol li:nth-child(2n)::before{
	content: "02";
}
.withtower ol li:nth-child(3n)::before{
	content: "03";
}
.withtower.school ol li::before{
	content: url("../img/check.svg");
	left: 0;
	z-index: 1;
}
.withtower ol{
	padding-top: 120px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	height: 240px;
}
.withtower ol li::after{
	position: absolute;
	right: 48px;
	top: -40px;
	height: 36px;
	width: 36px;
}
.withtower.school ol li::after{
	left: 18px;
	z-index: 0;
}
.withtower.launch li:nth-child(1)::after{
	content: url("../img/li1.svg");
}
.withtower.launch li:nth-child(2)::after{
	content: url("../img/li2.svg");
}
.withtower.launch li:nth-child(3)::after{
	content: url("../img/li3.svg");
}
.withtower.estate li:nth-child(1)::after{
	content: url("../img/11.svg");
}
.withtower.estate li:nth-child(2)::after{
	content: url("../img/12.svg");
}
.withtower.school ol li:nth-child(1)::after{
	content: url("../img/21.svg");
}
.withtower.school ol li:nth-child(2)::after{
	content: url("../img/22.svg");
}
.withtower.school ol li:nth-child(3)::after{
	content: url("../img/23.svg");
}
.withtower.advantages .description{
	margin-bottom: 60px;
}
.withtower.advantages .window{
	text-align: left;
	padding: 60px 0;
	display: flex;
	justify-content: flex-start;
	width: 720px;
	margin-top: 10px;
}
.withtower.advantages .window p:first-child{
	font-size: 36px;
	transform: rotate(-90deg);
	text-transform: uppercase;
	display: inline-block;
}
.withtower.advantages .window p:last-child{
	margin-left: 18px;
	position: relative;
}
.withtower.advantages .window p:last-child::before{
	position: absolute;
	bottom: -36px;
	left: -72px;
	content: '⮚';
	font-size: 72px;
	height: 136px;
}
.withtower.school ol{
	justify-content: flex-start;
}
.welcome.withgraphic{
	position: relative;
}
.welcome.withgraphic::after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	height: 100%;
	background-image: url("../img/withgraphic.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}
.welcome.withgraphic .window{
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%);
}
.welcome.withgraphic .window:last-child{
	margin-top: 30px;
}
.welcome.withgraphic ul{
	width: 640px;
	list-style: url("../img/marker.svg");
	list-style-position: outside;
	margin-top: 60px;
}
.welcome.withgraphic ul li{
	margin-top: 24px;
}
.sources h2{
	text-align: center;
}
.sources .window{
	width: calc(25% - 36px);
	padding: 36px;
	padding-top: 100px;
	text-align: left;
	margin: 18px;
	position: relative;
	box-sizing: border-box;
}
.sources .window::before{
	content: url("../img/vector.svg");
	position: absolute;
	top: -77px;
	left: 50%;
	/*height: 60px;*/
	width: 1px;
}
.sources .window::after{
	content: url("../img/vector.svg");
	transform: rotate(180deg);
	position: absolute;
	bottom: -77px;
	left: 50%;
	/*height: 60px;*/
	width: 1px;
}
.sources .window p{
	position: relative;
}
.sources .window p::after{
	content: '';
	position: absolute;
	font-size: 72px;
	font-family: "Gamero";
	width: 72px;
	height: 72px;
	top: -90px;
	left: 0;
	color: #7F7F7F;
}
.sources .window:nth-child(1) p:after{
	content: "01";
}
.sources .window:nth-child(2) p:after{
	content: "02";
}
.sources .window:nth-child(3) p:after{
	content: "03";
}
.sources .window:nth-child(4) p:after{
	content: "04";
}
.sources .content{
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	position: relative;
	flex-wrap: wrap;
}
.sources .content::before{
	content: '';
	position: absolute;
	top: -60px;
	left: calc(12.5% + 5px);
	width: 75%;
	height: 0;
	border: 1px solid #D600E2;
}
.sources .content::after{
	content: '';
	position: absolute;
	bottom: -60px;
	left: calc(12.5% - 5px);
	width: 75%;
	height: 0;
	border: 1px solid #D600E2;
}
.sources .container > p{
	margin-top: 100px;
	text-align: center;
}
.sources a{
	margin-left: calc(50% - 132px);
}
.digital .container{
	padding: 90px;
	padding-right: 18px;
	background-color: #B5E200;
	border-radius: 32px;
}
.digital h2{
	color: #010101;
}
.digital .content{
	display: flex;
	flex-wrap: wrap;
}
.card{
	background-color: #010101;
	padding: 30px 20px;
	margin: 6px;
	border-radius: 16px;
}

.digital .map{
	display: flex;
	overflow-x: scroll;
	align-items: center;
	cursor: pointer;
}
.digital .map::-webkit-scrollbar {
	width: 3px;
	background-color: #B5E299;
}
.digital .map::-webkit-scrollbar-thumb {
    background-color: #010101;
    border-radius: 6px;
}
.digital .point{
	color: #010101;
	width: 300px;
	min-width: 300px;
	padding: 20px 16px;
	position: relative;
	margin: 18px;
}
.digital .point::after{
	content: url("../img/maparrow.svg");
	position: absolute;
	right: -18px;
	top: calc(50% - 15px);
}
.digital .point:last-child::after{
	display: none;
}
.oportunities .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.oportunities .window{
	width: 30%;
	padding: 60px 30px;
	margin: 18px;
	text-align: left;
}
.oportunities .window ul{
	margin-top: 30px;
}
.oportunities .window li{
	margin-top: 8px;
}
.oportunities .window p{
	margin-top: 30px;
}
.finish{
	background-color: #00E23F;
}
.finish .content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.finish h2{
	color: #010101;
}
.finish .card{
	padding-left: 40px;
	margin-top: 40px;
}
.finish .card p, .finish .card ol, .finish .card ul{
	margin-top: 30px;
}
.finish .card span{
	color: #00E23F;
}
footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .column{
	padding: 60px 0;
	padding-bottom: 40px;
}
footer .social a{
	margin: 18px;
}
footer .column:nth-child(2){
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
footer .column:nth-child(3){
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.window img{
	max-width: 100%;
}
@media screen and (max-width: 1200px){
	.withtower::after{
		display: none;
	}
	.welcome.withgraphic::after{
		display: none;
	}
	.oportunities .window{
		width: 100%;
	}
}
@media screen and (max-width: 992px){
	.sources .window::before{
		display: none;
	}
	.sources .window::after{
		display: none;
	}
	.sources .content::before{
		display: none;
	}
	.sources .content::after{
		display: none;
	}
	.sources .content{
		margin-top: 60px;
	}
	.sources .window{
		width: 100%;
		margin: 8px;
	}
	.sources .container > p{
		margin-top: 40px;
	}
	footer .column, footer .column:nth-child(3){
		width: 100%;
		align-items: flex-start;
		padding-top: 18px;
	}
	footer{
		padding-top: 40px;
	}
}
@media screen and (max-width: 768px){
	.first .container{
		flex-direction: column;
		height: auto;
		padding: 40px 0;
		overflow-x: hidden;
	}
	.first a{
		border: none;
		margin: 6px 0px;
		display: inline;
	}
	.welcome .description{
		width: auto;
	}
	.withtower .window{
		width: auto;
		text-align: left;
	}
	.lg{
		display: none;
	}
	.welcome.withgraphic ul{
		width: auto;
	}
	.finish .card{
		width: 100%;
		margin: 6px;
	}
}
@media screen and (max-width: 576px){
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}
	.withtower h2 span, .welcome h2 span{
		font-size: 36px;
	}
}